<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirmappointment</title>
</head>
<body>
    <h1>Appointment Conformation Details</h1>
    <form action="{% url 'saveappointment' %}" method="POST">
        <table>
            <tr>
                <td>Required speciality:</td>
                <td>
                    <select name="category">
                        <option value="Mental Health">Mental Health</option>
                        <option value="Heart Disease">Heart Disease</option>
                        <option value="Covid19">Covid19</option>
                        <option value="Immunization">Immunization</option>
                      </select>
                </td>
            </tr>
            <tr>
                <td>Date of Appointment:</td>
                <td><input type="date" name="date" required></td>
            </tr>
            <tr>
                <td>Start Time of Appointment:</td>
                <td><input type="time" name="time" required></td>
            </tr>
            <tr>
                <td><input type="hidden" name="docid" value="{{doctor.id}}"></td>
            </tr>
            <tr>
                <td><input type="submit" name="submit" value="Confirm"></td>
            </tr>
        </table>
    </form>
</body>
</html>